/* Browser Resets */
/* clears all browser defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}
/* End of CSS Browser Resets  */

/* CSS Variables */
:root {
  height: 100%;
  font-size: 14px;
  /* colors */
  --trav-black: #111111;
  --trav-gray: #efefef;
  --trav-white: #ffffff;
  --trav-brown: #d4a373;
  --trav-offwhite: #e5e5e5;
  --trav-offblack: #343a40;
  --trav-tempblack: #212529;

  /* font sizes */
  --xl-font: 2.57142857143rem; /*36px*/
  --lg-font: 2rem; /*28px*/
  --md-font: 1.28571428571rem; /*18px*/
  --sm-font: 1rem; /*14px*/
  --xs-font: 0.85714285714rem; /*12px*/
  --abstr-font: 1.42857142857rem; /*20px (for the logo)*/
}
/* End of CSS Variables */

/* Main styles */
body {
  height: 100%;
  background-color: var(--trav-white);
  color: var(--trav-black);
  font-size: 1rem;
}

header {
}

main {
}

footer {
}
